.userTitle {
  width: 40px;
  height: 40px;
  background-color: var(--main);
  color: white;
  font-weight: bold;
  font-size: 17px;
  border-radius: 50%;
  transition: 0.2s ease-out;
  cursor: pointer;
  position: relative;
}

.userInfo {
  position: absolute;
  right: 0;
  bottom: -252px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 3px 8px 2px #80808033;
  border-radius: 5px;
}
li#photo {
  background: linear-gradient(to bottom, #cdcdff 50%, white 50%);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li#photo > span:nth-child(1) {
  margin-top: 15px;
}
li#photo h1 {
  font-size: 18px;
  font-weight: bold;
}
li#email {
  color: gray;
}
.userInfo li {
  color: black;
  padding: 10px;
}
.userTitle:hover {
  box-shadow: 0px 0px 6px 3px #637d883e;
}
.userTitle svg {
  font-size: 10px !important;
  margin-left: 2px;
}
